* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue;
}
#containerGenerale {
  width: 100%;
  background-color: yellow;
  height: 100vh;
}
header {
  background-color: red;
  height: 8vh;
  width: 100%;
}
header > div {
  float: left;
}
header #headerLeft {
  display: flex;
  background-color: rgb(226, 226, 226);
  border-right: 1px solid lightgrey;
  height: 100%;
  width: 30%;
}
.headerImgProfilo {
  height: 100%;
  width: 10%;
}
.headerImgProfilo img {
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 100px;
  cursor: pointer;
}
header #headerLeft #headerWrapperIcone {
  height: 100%;
  width: 90%;
}
#headerWrapperIcone,
#headerRightWrapperIcone {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.spanWrap span{
  font-size: 18px;
  margin-right: 15px;
  color: grey;
  cursor: pointer;
}
header #headerRight {
  display: flex;
  background-color: rgb(226, 226, 226);
  height: 100%;
  width: 70%;
}
header #headerRight #wrapInfoUser{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 70%;
}
#wrapInfoUser h2 {
  font-size: 14px;
  text-transform: capitalize;
}
#wrapInfoUser h4 {
  font-size: 10px;
  color: grey;
  text-transform: capitalize;
}
header #headerRight #headerRightWrapperIcone{
  height: 100%;
  width: 20%;
}
#containerChat {
  display: flex;
  width: 100%;
}
aside, main {
  height: 92vh;
}
aside {
  width: 30%;
  background-color: red;
}
aside #searchBox {
  padding: 10px;
  background-color: rgb(246, 246, 246);
}
aside #searchBox {
  position: relative;
}
aside #searchBox input{
  width: 100%;
  height: 4vh;
  border-radius: 5px;
  border: 1px solid rgb(249, 249, 249);
  color: lightgrey;
  padding-left: 60px;
  font-size: 15px;
}
#searchBox span {
  position: absolute;
  top: 18px;
  left: 20px;
  color: lightgrey;
}
::-webkit-input-placeholder { /* WebKit browsers (Safari, Google Chrome, Opera 15+) */
  color: lightgrey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: lightgrey;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: lightgrey;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: lightgrey;
}
aside #wrapLastChatBox {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: green;
  height: 85.6vh;
  width: 100%;
}
aside #wrapLastChatBox .chatBox {
  display: flex;
  padding: 10px;
  background-color: #fff;
  height: 100px;
  width: 100%;
  border-bottom : 1px solid lightgrey;
}
aside .imgChatUser {
  width: 20%;
}
aside .infoChat {
  margin-top: 15px;
  width: 60%;
}
aside .infoChat h2 {
  font-size: 17px;
  text-transform: capitalize;
  color: #000;
}
aside .infoChat .wrapPlus {
  position: relative;
}
.wrapPlus span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  color: grey;
}
aside .infoChat p{
  color: grey;
  font-size: 14px;
  text-transform: capitalize;
  margin-left: 20px;
}
aside .orarioChat {
  margin-top: 10px;
  width: 20%;
  color: lightgrey;
  text-align: right;
}
.imgChatUser img {
  height: 50px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 100px;
  border: 1px solid lightgrey;
  cursor: pointer;
}
main {
  width: 70%;
  background-color: orange;
}
main #zonaChat {
  height: 82vh;
  width: 100%;
  background-color: lightgrey;
}
main #rispBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: rgb(226, 226, 226);
}
main #rispBox span {
  color: grey;
  font-size: 25px;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}
main #rispBox input {
  width: 80%;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #fff;
  padding-left: 10px;
  font-size: 15px;
}
.wrapMessInviato {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.messaggioInviato {
  background-color: rgb(102, 227, 43);
  color: #000;
  font-size: 12px;
  width: 40%;
  height: auto;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
}
.timeStamp {
  text-align: right;
  color: grey;
}
.wrapMessRicevuto {
  display: flex;
  justify-content: flex-start;
}
.messaggioRicevuto {
  background-color: #fff;
  color: #000;
  font-size: 12px;
  width: 40%;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
}
