* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue;
}
#containerGenerale {
  width: 100%;
  background-color: yellow;
  height: 100vh;
}
header {
  background-color: red;
  height: 60px;
  width: 100%;
}
header > div {
  float: left;
}
header #headerLeft {
  display: flex;
  background-color: rgb(226, 226, 226);
  border-right: 1px solid lightgrey;
  height: 100%;
  width: 30%;
}
header #headerLeft #headerImgProfilo{
  height: 100%;
  width: 30%;
}
#headerImgProfilo img {
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 100px;
}
header #headerLeft #headerWrapperIcone{
  height: 100%;
  width: 70%;
}
#headerWrapperIcone {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
}
.spanWrap span{
  font-size: 18px;
  margin-right: 15px;
  color: grey;
}
header #headerRight {
  background-color: green;
  height: 100%;
  width: 70%;
}
